:root {
    --accent-color-light: #16856d;
    --accent-color-coffee: #6bceb8;
    --accent-color-dark: #67ddc3;

    --primary-color-light: #dfdfdf;
    --primary-color-coffee: #a18a74;
    --primary-color-dark: #424242;
    
    --secondary-color-dark: #242424;

    --gradient: linear-gradient(135deg, #a5f1bb 0%, #6bcee2 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: background-color .2s ease,
                color .2s ease;
}

#wrapper, #wrapper[class*="light"] {
    background-color: var(--primary-color-light);
    color: var(--primary-color-dark);
}

#wrapper[class*="coffee"] {
    background-color: var(--primary-color-coffee);
    color: var(--secondary-color-dark);
}

#wrapper[class*="dark"] {
    background-color: var(--primary-color-dark);
    color: var(--primary-color-dar);
}

.page {
    height: 100vh;
}


/*
###############
#   PAGE 1    #
###############
*/

.themeselection {
    position: fixed;
    top: 20px;
    right: 20px;
    display: inline-flex;
    width: 82px;
    justify-content: space-between;
    z-index: 3;
}

.page1 h1 {
    font-size: 20vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page1 h1, .page1 h1[class*="light"] {
    color: var(--primary-color-dark);
}

.page1 h1[class*="coffee"] {
    color: var(--secondary-color-dark);
}

.page1 h1[class*="dark"] {
    color: var(--primary-color-light);
}

#firstname {
    top: 44%;
}

#lastname {
    top: 56%;
}

.circlebutton {
    --size: 24px;
    width: var(--size);
    height: var(--size);
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

#light {
    background-color: var(--primary-color-light);
}

#coffee {
    background-color: var(--primary-color-coffee);
}

#dark {
    background-color: var(--primary-color-dark);
}

/*
###############
#   PAGE 2    #
###############
*/

.page2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--gradient);
}

.page2 p {
    flex: 1;
    padding: 1em;
    text-align: center;
    font-size: 3vh;
}

.cardstack {
    flex: 3;
}

.card {
    width: 60%;
    height: 50%;
    position: absolute;
    transform: translateX(-50%);
    border: 2px solid;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px #00000010;
}

#card1 {
    background-color: yellowgreen;
    z-index: 2;
}

#card2 {
    z-index: 1;
    background-color: burlywood;
    transform: translateX(-50%) translate(30px, 30px);
}

/*
###############
#   PAGE 3    #
###############
*/

.bottombar {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 100%;
}

.bottombar {
    background: var(--gradient);
}

.bottombar a {
    text-decoration: none;
}

.bottombar a, .bottombar a[class*="light"] {
    color: var(--primary-color-dark);
}

.bottombar a[class*="coffee"], .bottombar a[class*="dark"] {
    color: var(--secondary-color-dark);
}
