:root {
    --red: rgb(192, 90, 90);
    --dark-grey: #131516;
    --grey: #202122;
    --light-grey: #34373a;
    --white: #ccc;
    --black: #000;
}

@font-face {
    font-family: "JetBrains";
    src: url("assets/fonts/JetBrainsMono-VariableFont_wght.ttf");
}

* {
    padding: 0;
    margin: 0;
    font-family: JetBrains;
    font-weight: bold;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    overflow: hidden;
    background: var(--dark-grey);
    /*background: radial-gradient(farthest-side, rgba(255,255,255,1) 0%, rgba(0,227,255,1) 4%, rgba(25,203,105,1) 11%, var(--dark-grey) 20%);*/
    color: var(--black);
    font-family: Hack, monospace;
    z-index: -2;
}

h1 {
    width: 100%;
    color: var(--white);
    text-transform: uppercase;
    font-size: 48pt;
    font-weight: bold;
    text-align: center;
}

#wrapper {
    display: flex;
    height: 100%;
    padding: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
}

#links {
    display: flex;
    width: 60%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

a {
    color: var(--red);
    text-decoration: none;
    font-size: 32px;
    text-align: center;
    outline: none;
    background: linear-gradient(var(--red), var(--red));
    padding: 0 5px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto 4px;
    transition: background-size .5s ease, color .2s linear;
}

a:hover {
    background-size: auto 100%;
    color: var(--black);
}

.bubble {
    position: fixed;
    top: 50%;
    left: 50%;
    background: var(--dark-grey);
    border: none;
    border-radius: 50%;
    box-shadow: inset 0 0 10px var(--black);
    transition: transform 8s ease-out;
    z-index: -1;
}

@media (max-width: 1080px) {
    #links {
        height: 60%;
        margin: 10% 0 10% 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}
