* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: #a0b2ca; */
    background: linear-gradient(#569bffff, #c7ffdfff 80%);
}


#wrapper {
    height: 100vh;
    perspective: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.parallax {
    transform-style: preserve-3d;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.parallax > div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.mountain2 {
    background-image: url("mountain2.svg");
    transform: translateZ(-12px) scale(2.2);
}

.mountian1 {
    background-image: url("mountain.svg");
    transform: translateZ(-5px) scale(1.5);
}

.shore {
    background-image: url("shore.svg");
    height: 50%;
    bottom: 0;
    transform: translateZ(-1px) scale(1.1);
}

.lake {
    background-image: url("lake.svg");
    height: 100%;
    /* transform: translateZ(-20px); */
}

.content::before {
    /* position: absolute; */
    height: 20px;
    width: 100%;
    background-color: #4685e4ff;
    /* opacity: .1; */
}

.content {
    transform-style: preserve-3d;
    height: 100%;
    /* background-color: #4685e4ff; */
    background: linear-gradient(180deg, #377ca1, #144761ff) #34769eff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* color: #ffff57ff; */
    /* color: #97b334ff; */
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.content * {
    text-align: center;
}

.content h1 {
    /* transform: translateZ(2px) scale(.8); */
    font-size: 3em;
    letter-spacing: 2em;
    margin-right: -2em;
    font-weight: bold;
}

.content h2 {
    /* transform: translateZ(7px) scale(.3); */
    position: relative;
    top: 5%;
    font-size: 1em;
    letter-spacing: 1.5em;
    margin-right: -1.5em;
    text-transform: uppercase;
    font-weight: lighter;
}

.content a {
    position: relative;
    text-decoration: none;
    color: #a6ccff;
    top: 25%;
}

@media screen and (max-width: 600px) {
    .content h1 {
        letter-spacing: 1.5em;
        margin-right: -1.5em;
        font-size: 2em;
    }
}
