@import url('theme.css');

:root {
    --color-primary: #f7f2e8;
    --color-on-primary: #69523d;
    --color-surface: white;
    --color-secondary: #ddd3c2;
    --color-tertiary: #2c2c2c;

    --color-warn: #b98080;
}