:root {
    --red: rgb(192, 90, 90);
    --dark-grey: #131516;
    --light-grey: #202122;
    --white: #ccc;
    --black: #000;

    --padding: 20px;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

body {
    width: 95%;
    height: 80%;
    background: var(--dark-grey);
    color: var(--black);
    font-family: Hack, monospace;
}

h1 {
    padding: 0;
    margin: 0;
    width: 100%;
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    font-size: 48pt;
    font-weight: bold;
    border: 0;
    border-radius: 20px;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: var(--dark-grey);
    padding: 0;
}

#display {
    display: flex;
    flex-direction: column-reverse;
    background: var(--red);
    padding: var(--padding);
    box-sizing: border-box;
    height: 90%;
    width: 100%;
    /*overflow: hidden;*/
    overflow-y: auto;
}

/*
#display:hover {
    overflow: auto;
    scrollbar-width: 10px;
    scrollbar-track-color: transparent;
    scroll-margin: 5px;
}*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px transparent;
    border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px var(--dark-grey);
    border: solid 3px transparent;
    border-radius: 10px;
}

p {
    margin: 0;
    padding: 0;
    color: var(--black);
    font-size: 16pt;
    font-family: Hack, monospace;
    font-weight: bold;
}

p span {
    margin: 0 10px 0 0;
}

.inputBox {
    display: flex;
    box-sizing: border-box;
    padding: 0 0 0 var(--padding);
    align-items: center;
    width: 100%;
    height: 10%;
    flex-direction: row;
    color: var(--black);
    font-size: 16pt;
    font-family: Hack, monospace;
    font-weight: bold;
    background-color: var(--white);
}

input[type=button] {
    width: 10%;
    height: 100%;
    border: 0;
    border-left: solid 2px var(--red);
    color: var(--black);
    padding: 0;
    font-size: 16pt;
    font-family: Hack, monospace;
    font-weight: bold;
    background: var(--white);
    transition: .2s;
}

input[type=button]:hover {
    color: var(--red);
    cursor: pointer;
}

input[type=button]:active {
    font-size: 12pt;
}

input[type=button]:focus {
    outline: none;
}

input[type=text] {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: none;
    color: var(--black);
    font-size: 16pt;
    font-family: Hack, monospace;
    font-weight: bold;
    background: var(--white);
    padding: 10px;
    margin: 0;
    /* caret-color: var(--red);
    caret-shape: block; */
}

input[type=text]:focus {
    outline: none;
}
