:root {
    --red: rgb(192, 90, 90);
    --dark-grey: #131516;
    --grey: #202122;
    --light-grey: #34373a;
    --white: #ccc;
    --black: #000;
}

@font-face {
    font-family: "JetBrains";
    src: url("../../assets/fonts/JetBrainsMono-VariableFont_wght.ttf");
}

* {
    padding: 0;
    margin: 0;
    font-family: Hack, monospace;
    font-weight: bold;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2% 5%;
    overflow: hidden;
    background: var(--dark-grey);
    color: var(--black);
}

h1 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 64px;
    color: var(--white);
}

#content {
    padding: 20px;
    background: var(--light-grey);
}

ul {
    list-style-type: circle;
    margin-left: 2em;
}
