:root {
    --red: rgb(192, 90, 90);
    --dark-grey: #131516;
    --grey: #202122;
    --light-grey: #34373a;
    --white: #ccc;
    --black: #000;
}

@font-face {
    font-family: "JetBrains";
    src: url("../../assets/fonts/JetBrainsMono-VariableFont_wght.ttf");
}

* {
    padding: 0;
    margin: 0;
    font-family: JetBrains;
    font-weight: bold;
    box-sizing: border-box;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2% 5%;
    overflow: hidden;
    background: var(--dark-grey);
    color: var(--black);
}

h1 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 64px;
    color: var(--white);
}

#content {
    padding: 20px;
    background: var(--red);
}

ul {
    list-style-type: circle;
    margin-left: 2em;
}

a {
    color: var(--red);
    text-decoration: none;
    font-size: 32px;
    text-align: center;
    outline: none;
    background: linear-gradient(var(--red), var(--red));
    padding: 0 5px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto 4px;
    transition: background-size .5s ease, color .2s linear;
}

a:hover {
    background-size: auto 100%;
    color: var(--black);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px transparent;
    border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px var(--dark-grey);
    border: solid 3px transparent;
    border-radius: 10px;
}
